body {
    background-color:darkgreen;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
}

div {
    color:black;
    background-color: white;
    border: 15px solid white;
    padding: 50px;
    margin: 20px;
    text-align: center;
}

p {
    font-size:20px;
}

a:hover {
    color: darkgray;
}

.page {
    font-size:30px;
}

#greeting {
    color:white;
    font-size:40px;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#welcome {
    color:darkgrey;
}